<!DOCTYPE html>
<html lang="en">
<head>
	<title>Gendered Intelligence | {{ page.title }}</title>
	<meta name="Description" content="Gendered Intelligence is a Community Interest Company whose object is to deliver arts programmers and creative workshops to trans youth from across the UK in order to increase the quality of young trans peoples life experiences.">
	<meta name="keywords" content="gendered, trans youth, community, arts, equality, gender identity, sexuality, age, abilities and disabilities, ethnic background, faith and beliefs">
	<meta name="Robots" content="ALL">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/png" href="favicon">
	<link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="/static/css/responsive.css" rel="stylesheet" type="text/css">
	<link href="/static/css/main.css" rel="stylesheet" type="text/css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
</head>
<body>
	<div class="container">
		<a href="login.html" class="login-corner">&nbsp;</a>
		<h1><a href="/index.html"><img src="/static/images/logo.gif" width="270" height="60" alt="Gendered Intelligence: Understanding diversity in creative ways"></a></h1>

		<div class="navbar">
			<div class="navbar-inner">
				<a class="btn btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<div class="nav-collapse collapse" style="height: 0px; ">
					<ul class="nav">
						{% for item in site.data.navigation %}
							{% if item.subnav %}
								<li class="dropdown">
								<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
							{% else %}
								<li>
							{% endif %}
								{% if item.url %}<a href="/{{ item.url }}">{% endif %}
										{{ item.page }}
										{% if item.icon %}<i class="{{item.icon}}"></i>{% endif %}
								{% if item.url %}</a>{% endif %}

								{% if item.subnav %}
										<i class="icon-chevron-down"></i>
									</a>
									<ul class="dropdown-menu">
										{% for subitem in item.subnav %}
											<li>
												{% if subitem.url contains "http" %}
												<a href="{{ subitem.url }}" target="_blank">
													{% else %}
												<a href="/{{ subitem.url }}">
													{% endif %}
													{% if subitem.icon %}<i class="{{subitem.icon}} pull-right"></i>{% endif %}
													{{ subitem.page }}
												</a>
											</li>
										{% endfor %}
									</ul>
								{% endif %}
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>

<div class="content">
	{{ content }}
</div>

<hr>
<div class="bottom-boxes row-fluid">

	<div class="span3">
		<h3>Support Us</h3>
		<p>Become a friend of Gendered Intelligence.</p>
		<a class="donate" href="support-us/donate.html">donate here</a>
	</div>

	<div class="span3">
		<h3>Volunteer</h3>
		<p>Find out about volunteering for Gendered Intelligence.</p>
		<a class="donate" href="support-us/volunteer.html">find out more</a>
	</div>

	<div class="span3">
		<h3>Training</h3>
		<p>Training for professionals on trans issues.</p>
		<a class="donate" href="professionals/training.html">professional development</a>
	</div>

	<div class="span3">
		<h3>Keep up to date</h3>
		<p>Be first to know what we're up to - join our mailing list.</p>
		<a class="donate" href="contact/mailing-list.html">mailing list</a>
	</div>
</div>

<div class="a2a_kit a2a_kit_size_32 a2a_floating_style a2a_vertical_style" style="left:0px; top:150px;">
	<a class="a2a_button_facebook"></a>
	<a class="a2a_button_twitter"></a>
	<a class="a2a_button_google_plus"></a>
	<a class="a2a_button_pinterest"></a>
	<a class="a2a_dd" href="https://www.addtoany.com/share"></a>
</div>

<div id="out" style="position: fixed; top: 0px; right: 0px; padding: 10px; background: #fff;">
	<a class="btn btn-secondary" href="http://www.bbc.co.uk/news/">Get me out of here</a>
</div>
</div>
<div id="holder" class="">
</div>
<footer class="container">
	<div class="row-fluid">
		<p class="span6">
			&copy; Gendered Intelligence 2009-21 &mdash;
			All rights reserved
		</p>
		<p class="span6">
			<a href="http://www.ridgeberry.com" title="Website Design, Graphic Design, Branding, Truro, Cornwall">Web Design Cornwall</a> by Ridgeberry
		</p>
	</div>
</footer>
<script src="/static/javascripts/main.js" type="text/javascript"></script>
</body>
</html>
